* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    /* Dark mode colors */
    /* Dark mode colors */
    --text-color: #fff;
    --subheading-color: #828282;
    --placeholder-color: #fff;
    --primary-color: #474747;
    --secondary-color: radial-gradient(circle farthest-corner at 10% 20%,
            #2F8B9E 0%,
            #E0DB9B 90%);
    --secondary-hover-color: linear-gradient(180deg, #2F8B9E 0%, #E0DB9B 100%);
}

.light_mode {
    /* Light mode colors */
    --text-color: #222;
    --subheading-color: #A0A0A0;
    --placeholder-color: #000;
    --primary-color: #fff;
    --secondary-color: radial-gradient(circle farthest-corner at 10% 20%,
            #82CDDD 0%,
            #FFF799 90%);
    --secondary-hover-color: linear-gradient(180deg, #82CDDD 0%, #FFF799 100%);
}

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to right, #E0DB9B, #2F8B9E);
}

.screen {
    background: linear-gradient(to right, #E0DB9B, #2F8B9E);
    position: relative;
    height: 500px;
    width: 330px;
    box-shadow: 0px 0px 24px #2F8B9E;
    overflow: hidden;
    /* Prevents content overflow */
    border-radius: 5px;
}

.screen__content {
    z-index: 1;
    position: relative;
}

.screen__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    clip-path: inset(0 0 0 0);
}

.screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
}

.screen__background__shape1 {
    height: 500px;
    width: 500px;
    background: #FFF;
    top: -50px;
    right: 120px;
    border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
    height: 220px;
    width: 220px;
    background: linear-gradient(to right, #E0DB9B, #2F8B9E);
    top: -172px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape3 {
    height: 540px;
    width: 190px;
    background: linear-gradient(to right, #E0DB9B, #2F8B9E);
    top: -24px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape4 {
    height: 400px;
    width: 200px;
    background: linear-gradient(to right, #E0DB9B, #2F8B9E);
    top: 420px;
    right: 50px;
    border-radius: 60px;
}

.login {
    width: 320px;
    padding: 30px;
    padding-top: 156px;
}

.login__field {
    padding: 20px 0px;
    position: relative;
}

.login__icon {
    position: absolute;
    top: 30px;
    color: #2F8B9E;
}

.login__input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
    outline: none;
    border-bottom-color: #2F8B9E;
}

.login__submit {
    background: #fff;
    font-size: 14px;
    margin: 5% 0;
    padding: 5% 7%;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 75%;
    color: #4C489D;
    box-shadow: 0px 2px 2px #2F8B9E;
    cursor: pointer;
    transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
    border-color: #2F8B9E;
    outline: none;
}

.button__icon {
    font-size: 24px;
    margin-left: auto;
    color: #2F8B9E;
}

.social-login {
    position: absolute;
    height: 140px;
    width: 160px;
    text-align: center;
    bottom: 0px;
    right: 0px;
    color: #fff;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-login__icon {
    padding: 20px 10px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 0px 8px #2F8B9E;
}

.social-login__icon:hover {
    transform: scale(1.5);
}

/* From Uiverse.io by adamgiebl */

.div-active {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.div-button {
    font-family: inherit;
    font-size: 0.8rem;
    background: linear-gradient(to right, #E0DB9B, #2F8B9E);
    color: white;
    margin: 5% 0;
    padding: 16px 12px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}

.div-button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
    padding: 10%;
}

.div-button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.div-button .svg-wrapper-1 {
    padding-right: 20px;
}

.div-button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.div-button:hover svg {
    transform: translateX(-1.2em) rotate(-135deg) scale(1.1);
}

.div-button:hover span {
    transform: translateX(-5em);
}

.div-button:active {
    transform: scale(0.95);
}

.button__text {
    color: #2F8B9E;
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}