@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    /* Dark mode colors */
    /* Dark mode colors */
    --text-color: #fff;
    --subheading-color: #828282;
    --placeholder-color: #fff;
    --primary-color: #212121;
    --secondary-color: radial-gradient(circle farthest-corner at 10% 20%,
            #2F8B9E 0%,
            #E0DB9B 90%);
    --secondary-hover-color: linear-gradient(180deg, #2F8B9E 0%, #E0DB9B 100%);
    --secondary-background: #F0F4F9;
    --background-code: #000000;
    --label-code: #2E2E2E;
    --navbar-color: #1E1E1E;
    --transparent-color: #1e1e1ecc;
    --box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.light_mode {
    /* Light mode colors */
    --text-color: #222;
    --subheading-color: #A0A0A0;
    --placeholder-color: #000;
    --primary-color: #f1f1f1;
    --secondary-color: radial-gradient(circle farthest-corner at 10% 20%,
            #82CDDD 0%,
            #FFF799 90%);
    --secondary-hover-color: linear-gradient(180deg, #82CDDD 0%, #FFF799 100%);
    --secondary-background: #1E1F20;
    --background-code: #F9F9F9;
    --label-code: #efefef;
    --navbar-color: #fcfcfc;
    --transparent-color: #fcfcfccc;
    --box-shadow: 0 2px 4px rgb(255, 255, 255, 0.5);
}

body {
    background: var(--primary-color);
    color: var(--secondary-background);
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar-color);
    padding: 10px 20px;
    box-shadow: var(--box-shadow);
}

/* Bên trái của Navbar (icon và title) */
.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-title {
    margin-left: 2.5em;
    cursor: pointer;
    background-clip: text;
    background: linear-gradient(to right, #82CDDD, #FFF799);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#toggle-theme-button {
    color: var(--text-color);
}

/* Slide Bar Toggle Button */
.slide-bar-toggle {
    position: fixed;
    /* top: 10px;
    left: 10px; */
    z-index: 1001;
    background-color: var(--navbar-color);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    color: var(--text-color);
}

/* Slide Bar */
.slide-bar {
    position: fixed;
    top: 0;
    left: -250px;
    /* Hidden by default */
    width: 250px;
    height: 100%;
    background-color: var(--transparent-color);
    color: white;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1000;
    /* Ensure it overlaps all elements */
}

.slide-bar-content {
    margin-top: 3em;
    padding: 20px;
}

/* Slide Bar Active State */
.slide-bar.active {
    left: 0;
}

#new-chat-btn {
    padding: 0.5em;
    margin: 0.5em 0 0 0;
    display: flex;
    align-items: center;
    background: var(--secondary-color);
    border: none;
    border-radius: 1em;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
}

#new-chat-btn:hover {
    
    box-shadow: 0 1px 2px rgba(130, 205, 221, 1);
    opacity: 0.9;
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}

.btn-logout {
    position: absolute;
    bottom: 0;
    margin-bottom: 1em;
    padding: 0.5em;
    display: flex;
    align-items: center;
    background: var(--secondary-color);
    border: none;
    border-radius: 1em;
    width: 40%;
    font-weight: bold;
}

.btn-logout:hover {
    background: var(--secondary-hover-color);
    box-shadow: 0 2px 4px rgba(130, 205, 221, 1);
    opacity: 0.9;
}

.header,
.typing-area {
    color: var(--text-color);
}

.header,
.chats .message,
.typing-form {
    max-width: 1000px;
    margin: 10px auto;
}

.header {
    margin-top: 1vh;
    padding: 1rem;
    /* display: none; */
}

.header-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    margin-top: 2vh;
}

.header-button-right {
    display: flex;
    align-items: center;
    cursor: pointer;

}

.img-chatbot {
    width: 5em;
    height: 5em;
}

.btn-login {
    background: var(--secondary-color);
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    margin-left: 30px;
}

.btn-login:hover {
    box-shadow: 0 2px 4px #999;
    background: var(--secondary-hover-color);
}

body.hide-header .header-body-content {
    display: none;
    margin-top: 0;
}



.header :where(.title, .subtitle) {
    font-weight: 500;
    line-height: 3.6rem;
}

.header .title {
    font-size: 2.7rem;
    width: fit-content;
    background-clip: text;
    background: linear-gradient(to right, #82CDDD, #FFF799);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header .subtitle {
    font-size: 2.4rem;
    color: var(--subheading-color);
}

.suggestion-list {
    margin-top: 9.5vh;
    list-style: none;
    display: flex;
    gap: 1.25rem;
    overflow-x: auto;
    scrollbar-width: none;
    margin-left: 0 !important;
}

.suggestion-list .suggestion {
    padding: 1.25rem;
    cursor: pointer;
    width: 227px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.75rem;
    background: var(--secondary-color);
}

.suggestion-list .suggestion:hover {
    background: var(--secondary-hover-color);
    opacity: 0.9;
    transform: rotate(1deg);
    transition: all 0.5s ease-in-out;
}

.suggestion-list .suggestion .text {
    font-weight: 400;
}

.suggestion-list .suggestion .icon {
    height: 42px;
    width: 42px;
    font-size: 1.3rem;
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

/* ----------------------------Chat List-------------------------- */

.chats {
    padding: 2rem 1rem 12rem;
    max-height: 100vh;
    overflow-y: auto;
    scrollbar-color: #999 transparent;
}

.chats .message.incoming {
    margin-top: 1.5rem;
}

.chats .message .message-content {
    display: flex;
    gap: 1.5rem;
    width: 100%;
    align-items: center;
}

/* .chats .message .message-content2 {
    display: flex;
    gap: 1.5rem;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
} */

.chats .message .avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    align-self: flex-start;
}

.chats .message.loading .avatar {
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.code__copy-btn {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 12px;
    z-index: 10;
    font-size: 18px;
}

p {
    margin-bottom: 10px;
}

ul {
    list-style: disc inside;
    margin-left: 20px;
}

ol {
    margin-left: 40px;
}

strong {
    font-weight: bold;
}

em {
    font-size: italic;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

th,
td {
    border: 1px solid;
    text-align: left;
    padding: 10px;
}

pre {
    position: relative;
    background-color: var(--label-code);
    padding: 10px 0 0;
    font-family: monospace;
    font-size: 14px;
    border-radius: 10px;
    margin-bottom: 15px;
    overflow-x: auto;
}

code {
    margin-top: 30px;
    border-radius: 5px;
    color: inherit;
}

.text-container-user {
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0px -1px 4px 4px #35a573ab;
}

.text-container-bot {
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0px -1px 4px 4px rgb(199 188 64 / 67%);
}


.chats .message__text {
    color: var(--text-color);
    margin-top: 10px;
}

.chats .message .text.error {
    color: #e55865;
}

.chats .message.loading .text {
    display: none;
}

.code__language-label {
    position: absolute;
    font-weight: bold;
    top: 10px;
    left: 12px;
    color: var(--placeholder-color);
    font-size: 14px;
    text-transform: capitalize;
}

.hljs {
    background-color: var(--background-code) !important;
}

/* .text-container-user {
    
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(130, 205, 221, 1);
}

.text-container-bot {
    margin-bottom: 12px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(255, 247, 153, 1);
} */

.chats .message .icon {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    margin-left: 3.5rem;
    font-size: 1.25rem;
    border-radius: 50%;
    background: var(--secondary-color);
    color: var(--text-color);
    visibility: hidden;
}

.chats .message:not(.loading):hover .icon:not(.hide) {
    visibility: visible;
}

.chats .message .icon:hover {
    background: var(--secondary-color);
}

.chats .loading-indicator {
    display: none;
    width: 100%;
    gap: 0.8rem;
    flex-direction: column;
}

/* Only show the loading bars if the message element contains loading class */
.chats .message.loading .loading-indicator {
    display: flex;
}

.chats .loading-indicator .loading-bar {
    height: 11px;
    width: 100%;
    border-radius: 0.14rem;
    background: linear-gradient(to right, #1f6878, var(--primary-color), #97914e);
    animation: animate 2.5s ease-in-out infinite;
}

@keyframes animate {
    0% {
        opacity: 1;
    }

    25% {
        background-position: -800px 0;
        ;
    }

    50% {
        opacity: 0.3;
    }

    75% {
        background-position: 800px 0;
    }

    100% {
        opacity: 1;
    }
}

/* ----------------------------Typing area-------------------------- */

.typing-area {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 1rem;
    background: var(--primary-color);
}

.typing-area :where(.typing-form, .action-buttons) {
    display: flex;
    gap: 0.75rem;
}

.typing-area .input-wrapper {
    height: 56px;
    width: 100%;
    display: flex;
    position: relative;
}

.typing-area .typing-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--text-color);
    border-radius: 6.2rem;
    padding: 1.1rem 4rem 1.1rem 1.5rem;
    background: var(--secondary-color);
}

.typing-area .typing-input:focus {
    background: var(--secondary-hover-color);
}

.typing-area .typing-input::placeholder {
    color: var(--placeholder-color);
}

.typing-area .icon {
    height: 56px;
    width: 56px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--secondary-color);
}

.typing-area .icon:hover {
    background: var(--secondary-hover-color) !important;
}

.typing-area .input-wrapper .icon {
    position: absolute;
    right: 0;
    outline: none;
    border: none;
    background: none;
    color: var(--text-color);
    transform: scale(0);
    transition: transform 0.2s ease;
}

.typing-area .input-wrapper .typing-input:valid~.icon {
    transform: scale(1);
}

.typing-area .disclaimer-text {
    font-size: 0.85rem;
    margin-top: 1rem;
    text-align: center;
    color: var(--placeholder-color)
}




/* Responsive media query code for small screen */
@media (max-width: 768px) {
    .header :is(.title, .subtitle) {
        font-size: 2rem;
        line-height: 2.6rem;
    }

    .header .subtitle {
        font-size: 1.6rem;
    }

    .chats .message .avatar {
        width: 37px;
        height: 37px;
    }

    .typing-area :where(.typing-form, .action-buttons) {
        gap: 0.4rem;
    }

    .typing-form .input-wrapper {
        height: 50px;
    }

    .typing-form .typing-input {
        padding: 1.1rem 3.5rem 1.1rem 1.2rem;
    }

    .typing-area .icon {
        height: 50px;
        width: 50px;
    }

    .typing-area .disclaimer-text {
        font-size: 0.75rem;
        margin-top: 0.5rem;
    }
}

.avatar-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

.message-list {
    width: 100%;
    margin: 0;
    border: none;
    border-radius: 1em;
    font-weight: bold;

    .title-his-chat {
        font-size: 12px;
        font-weight: 500;
        margin: 15% 0 5%;
        color: var(--text-color);
    }

    .message-item {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4%;
        margin: 2% 0;
        cursor: pointer;
        font-weight: 400;

        .message-title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: calc(100% - 24px);
            color: var(--text-color);
        }

        .material-symbols-rounded {
            color: var(--text-color);
            transition: transform 0.3s ease;
        }

        .material-symbols-rounded:hover {
            transform: scale(1.3);
        }
    }

    .message-item:hover {
        background: var(--secondary-color);
        border-radius: 5px;
        transform: scale(1.05);
        transition: all 0.5s ease-in-out;
    }
}

